
params {

    essentials = "${projectDir}/test/inputs/MtbH37Rv_DeJesus-mBio-2017_TableS3.csv"
    essential_call = "DeJesus2017_call"
    essential_score = "DeJesus2017_score"
    conditions = "${projectDir}/test/inputs/conditions.csv"

    // data locations
    sample_sheet = "${projectDir}/test/SraRunTable.txt"
    sample_names = "Library Name"

     // guide sequences
    guides = "${projectDir}/test/inputs/guides-RLC12.fasta"
    rc = true

     // genome file and annotations
    genome = "${projectDir}/test/inputs/MtbH37Rv-NC_000962.3.fasta"
    gff = "${projectDir}/test/inputs/MtbH37Rv-NC_000962.3.gff3"
    pam = "Sth1"

    // table for fitness calculations
    sequencing_group = "${sample_names}"
    expansion_group = "Timepoint"
    culture_group = "REPLICATE"
    initial = "0.0"
    reference = "Negative_NA_GGAACTCCTCTTGTTTAGTTC_21mer_v4PAMscoreNA" //"Negative_NA_ATCTCTCCGGGACTATATGT_20mer_v4PAMscoreNA"

    control_column = "source_name"
    negative = "Negative_NA"

    // sequencing adapter sequences to trim off
    adapt1 = "TGTAGCTTCTTTCGAGTACAAAAAC"
    adapt2 = "CTCCCAGATTATATCTATCACTGATAGGGA"
    
}