
params {

    // data locations
    from_sra = true

    // guide sequences
    guides = true
    rc = true

    // table for fitness calculations
    do_fitness = true
    guide_id = "Name"
    culture_column = "condition_REPLICATE"
    reference_guide = "gyrA-9624-fresh_page"  // most counts in sample
    timepoint_column = "condition_Generations"
    growth_column = "condition_Generations"
    growth_type = "generations"
    negative = "unmapped-"

    essentials = "MtbH37Rv_DeJesus-mBio-2017_TableS3.csv"
    essential_call = "DeJesus2017_call"
    essential_score = "DeJesus2017_score"
    
}